<ion-header>
    <ion-navbar color="primary">
        <ion-title>Eventos</ion-title>
        <ion-buttons go-home-button end></ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <br>

    <ion-card>
        <ion-card-content ion-item="">
            <a ion-button block color="primary"
               href="{{host}}/uploads/Festival Cultural Zacatecas 2018.pdf">
                Programa completo
            </a>
        </ion-card-content>
    </ion-card>

    <ion-item>
        <ion-label>Tipo de evento</ion-label>
        <ion-select [(ngModel)]="tipoEvento"
                    (ionChange)="tipoEventoSelected($event)">
            <ion-option value="Todos">Todos</ion-option>
            <ion-option *ngFor="let categoria of categorias"
                        value="{{categoria}}">{{categoria}}
            </ion-option>
        </ion-select>
    </ion-item>

    <ion-card *ngFor="let evento of eventos">
        <ion-card-content ion-item="">
            <img src="{{host}}{{evento.url_flyer|| ''}}">

            <br/>

            <div class="event-details">
                <p text-wrap>
                    <strong>Fecha:</strong> {{evento.fecha_inicio}}
                </p>

                <p text-wrap>
                    <strong>Costo:</strong> {{evento.costo}}
                </p>

                <p text-wrap>
                    <strong>Categoria:</strong> {{evento.categoria}}
                </p>

                <p text-wrap>
                    <a ion-button icon-only clear color="dark"
                       href="{{'https://www.google.com/maps/search/' +
                    '?api=1&query=' + evento.latitud + ',' +
                    evento.longitud}}">
                        <ion-icon name="map"></ion-icon>
                    </a>

                    <a ion-button icon-only clear color="dark"
                       href="{{'https://m.uber.com/ul/?action=setPickup&' +
                        'client_id=3MtSc1qTVLX-56WlaOFFa8rmuEaHUv8F&' +
                        'pickup=my_location&dropoff[formatted_address]=' +
                        evento.nombre + '&dropoff[latitude]=' +
                        evento.latitud + '&dropoff[longitude]=' +
                        evento.longitud}}">
                        <ion-icon name="car"></ion-icon>
                    </a>
                </p>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="eventos == 0">
        <ion-card-content ion-item="">
            <h2 text-wrap>No se encontraron eventos</h2>
        </ion-card-content>
    </ion-card>
</ion-content>
