<ion-header>
    <ion-navbar color="primary">
        <ion-title>Iniciar Sesión</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <ion-list>
            <ion-item>
                <ion-label floating>Correo electrónico:</ion-label>
                <ion-input formControlName="userEmail" type="email">
                </ion-input>
            </ion-item>

            <div class="error-messages" *ngIf="getEmailErrors()">
                <p *ngFor="let validation of getEmailErrors()">
                    {{validation.message}}
                </p>
            </div>

            <ion-item>
                <ion-label floating>Contraseña:</ion-label>
                <ion-input formControlName="userPassword" type="password">
                </ion-input>
            </ion-item>

            <div class="error-messages" *ngIf="getPasswordErrors()">
                <p *ngFor="let validation of getPasswordErrors()">
                    {{validation.message}}
                </p>
            </div>

            <div class="error-messages" *ngIf="!loginCorrecto">
                <p>Correo electrónico o contraseña incorrectos</p>
            </div>
        </ion-list>
        <button ion-button block type="submit" [disabled]="!loginForm.valid">
            Iniciar Sesión
        </button>
        <button ion-button clear type="button" (click)="openRegistrarPage()">
            Crear Cuenta
        </button>
    </form>
</ion-content>
