<ion-header>
    <ion-navbar>
        <ion-title>Comentarios</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <div ion-item *ngFor="let comentario of comentarios">
            <ion-grid>
                <ion-row class="vertical-align-content">
                    <ion-col col-2>
                        <img src="{{host}}{{comentario.autor_foto || ''}}">
                    </ion-col>

                    <ion-col col-10>
                        <div class="comment-data">
                            <p class="align-right">{{comentario.fecha}}</p>
                            <p><strong>{{comentario.autor}}</strong></p>
                            <p text-wrap>{{comentario.comentario}}</p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

    </ion-list>

</ion-content>

<ion-footer no-shadow class="footer-fixed">
    <ion-toolbar position="bottom">
        <ion-grid>
            <ion-row *ngIf="globalVariables.userLogged">
                <ion-col col-9>
                    <ion-input type="text" autocomplete="true" spellcheck="true"
                               placeholder="Escribe tu comentario"
                               [(ngModel)]="comment">
                    </ion-input>
                </ion-col>
                <ion-col col-3>
                    <button ion-button block (click)="addComment(comment)"
                            [disabled]="!comment">
                        Enviar
                    </button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!globalVariables.userLogged">
                <button ion-button block (click)="openLoginPage()">
                    Ingresar para comentar
                </button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
