page-comentarios-negocio {
    .vertical-align-content > * {
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
    }

    .footer-fixed {
        position: fixed;
    }
}
