<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Categorías</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item (click)="login.logout()"
                    *ngIf="globalVariables.userLogged">
                <ion-icon name="log-out"></ion-icon>
                Cerrar Sesión
            </button>
            <button menuClose ion-item (click)="openLoginPage()"
                    *ngIf="!globalVariables.userLogged">
                <ion-icon name="log-in"></ion-icon>
                Iniciar Sesión
            </button>
            <button menuClose ion-item *ngFor="let c of categorias"
                    (click)="searchByKeyword(c)">
                <ion-icon name="send"></ion-icon>
                {{c}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>ZacatecasUp</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding #content>
    <img src="assets/img/zacatecasup.jpeg" class="logo"/>

    <br/>
    <h1>¿Qué Necesitas?</h1>

    <ion-list>
        <ion-item>
            <ion-input type="text"
                       (ionInput)="onInputSearch()"
                       [(ngModel)]="searchQuery"
                       placeholder="comida, bares, etc."></ion-input>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="searchByKeyword(searchQuery)"
            [disabled]="!searchQuery">
        Buscar
    </button>

</ion-content>
