<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Categorías</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item (click)="login.logout()"
                    *ngIf="globalVariables.userLogged">
                <ion-icon name="log-out"></ion-icon>
                Cerrar Sesión
            </button>
            <button menuClose ion-item (click)="openLoginPage()"
                    *ngIf="!globalVariables.userLogged">
                <ion-icon name="log-in"></ion-icon>
                Iniciar Sesión
            </button>
            <button menuClose ion-item *ngFor="let c of categorias"
                    (click)="searchByKeyword(c)">
                <ion-icon name="send"></ion-icon>
                {{c}}
            </button>
            <button menuClose ion-item (click)="openEventosPage()">
                <ion-icon name="send"></ion-icon>
                Eventos
            </button>
            <button menuClose ion-item (click)="openPromocionesPage()">
                <ion-icon name="send"></ion-icon>
                Promociones
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Up Zacatecas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding #content class="main-screen"
             [style.background-size]="'auto ' + (height + 30)+ 'px'">
    <img src="assets/img/up_zacatecas.png" class="logo"/>

    <h1 class="text-white">¿Qué Necesitas?</h1>

    <ion-list>
        <ion-item>
            <ion-input type="text"
                       (ionInput)="onInputSearch()"
                       [(ngModel)]="searchQuery"
                       placeholder="comida, bares, etc."
                       autocomplete="true" spellcheck="true"
                       autocapitalize="off">
            </ion-input>
        </ion-item>
    </ion-list>

    <button ion-button block color="light"
            (click)="searchByKeyword(searchQuery)"
            [disabled]="!searchQuery">
        Buscar
    </button>
</ion-content>
