page-home {
    h1 {
        font-size: 22pt;
        text-align: center;
        font-weight: bold;
    }

    .logo {
        width: 200px;
        text-align: center;
        display: block;
        margin: 10px auto;
    }

    ion-content.main-screen {
        background-image: url("../assets/img/ZacatecasUpFondo.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed !important;
    }


}
