<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{detalleNegocio.nombre}}</ion-title>
        <ion-buttons go-home-button end></ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>


    <ion-card>
        <ion-card-header ion-item>
            <ion-avatar item-start>
                <img src="{{host}}{{detalleNegocio.logotipo || ''}}">
            </ion-avatar>

            <h1>{{detalleNegocio.nombre}}</h1>

            <hr>

            <ion-rating
                [numStars]="5"
                [readOnly]="false"
                [value]="detalleNegocio.calificacion"
                (clicked)="starClicked($event)">>
            </ion-rating>

            <a ion-button icon-only clear color="dark"
               href="{{detalleNegocio.sitio_web}}">
                <ion-icon name="globe"></ion-icon>
            </a>

            <a ion-button icon-only clear color="dark"
               href="{{detalleNegocio.facebook}}">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>

            <a ion-button icon-only clear color="dark" icon-start=""
               href="{{'https://www.google.com/maps/search/' +
                    '?api=1&query=' + detalleNegocio.latitud + ',' +
                    detalleNegocio.longitud}}">
                <ion-icon name="map"></ion-icon>
                &nbsp;{{distancia}}
            </a>

            <a ion-button icon-only clear color="dark"
               href="{{'https://m.uber.com/ul/?action=setPickup&' +
               'client_id=3MtSc1qTVLX-56WlaOFFa8rmuEaHUv8F&' +
               'pickup=my_location&dropoff[formatted_address]=' +
               detalleNegocio.nombre + '&dropoff[latitude]=' +
               detalleNegocio.latitud + '&dropoff[longitude]='
               + detalleNegocio.longitud}}">
                <ion-icon name="car"></ion-icon>
            </a>

        </ion-card-header>

        <hr>

        <ion-card-content>
            <div *ngFor="let caracteristica of descripcion">
                <h2>{{caracteristica.titulo}}</h2>
                <div *ngIf="caracteristica.tipo == 'lista'">
                    <ul>
                        <li *ngFor="let item of caracteristica.contenido">
                            {{item}}
                        </li>
                    </ul>
                </div>
                <div *ngIf="caracteristica.tipo == 'texto'">
                    <p>{{caracteristica.contenido}}</p>
                </div>
            </div>

            <h2>Galería</h2>

            <ion-slides>
                <ion-slide *ngFor="let imagen of detalleNegocio.galeria">
                    <img src="{{host}}{{imagen || ''}}">
                </ion-slide>
            </ion-slides>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer no-shadow class="footer-fixed">
    <ion-toolbar position="bottom">
        <button ion-button block icon-start (click)="viewComments()"
                [disabled]="detalleNegocio.comentarios?.length == 0">
            <ion-icon name="mail"></ion-icon>
            Comentarios ({{detalleNegocio.comentarios}})
        </button>
    </ion-toolbar>
</ion-footer>
