page-detalle-recomendacion {
    h1 {
        text-align: center;
    }

    .detalle-title {
        margin-top: 10px;
    }

    .vertical-align-content > * {
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
    }

    ul {
        margin-top: 0;
        padding-left: 1.2em;
    }
}
