<ion-content padding>
    <h3>Agregar comentario</h3>
    <form [formGroup]="comentarioForm">
        <textarea formControlName="comentarioMessage"></textarea>

        <div class="error-messages" *ngIf="getComentarioErrors()">
            <p *ngFor="let validation of getComentarioErrors()">
                {{validation.message}}
            </p>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <button ion-button block color="danger" (click)="cancel()">
                        Cancelar
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button block (click)="addComentario()"
                            [disabled]="!comentarioForm.valid">
                        Aceptar
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
