page-add-comentario {
    background-color: rgba(0, 0, 0, 0.5);

    ion-content.content {
        top: 20%;
        left: 10%;
        width: 80%;
        height: 40%;
        float: left !important;
        border-radius: 10px;
    }

    h3 {
        height: 20%;
    }

    textarea {
        width: 100%;
        resize: none;
        height: 50%;
    }

    ion-grid {
        height: 10%;
    }

    .input-invalida {
        border: solid red 1px
    }

}
